#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
/build
*.class
*.jar
/.gradle
.gradle/
foundationMaster/build/
ops/target/
opsMaster/build/
build/
VerintArtifactPlugin/repo/
DevKit/.settings/
DevKit/.project
DevKit/.classpath
*gradle-app.setting
_WARDEPLOY/
RMCM/
domainTemplate/
