<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <?include UserProperties.wxi ?>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="IMPACT360DATADIR" Name="Impact360" />
      <Directory Id="IMPACT360SOFTWAREDIR" Name="Impact360">
        <Directory Id="HOTFIXESDIR" Name="HotFixes" >
          <Directory Id="RollbackDir" Name="HotFix $(var.HOTFIXID)" />
        </Directory>
        <Directory Id="I360BINDIR" Name="Bin" />
        <Directory Id="ConfDir" Name="Conf">
          <Directory Id="AlarmDir" Name="alarm"/>
          <Directory Id="ComponentsDir" Name="Components"/>
          <Directory Id="RolesDir" Name="Roles"/>
        </Directory>
        <Directory Id="INSTALLATIONUNITDIR" Name="$(var.InstallationUnitFolderName)" />
      </Directory>
      <Directory Id="WindowsFolder" SourceName="Windows">
        <Directory Id="CommonAppDataFolder" SourceName="Application Data" />
        <Directory Id="GAC" SourceName="Global Assembly Cache" />
        <Directory Id="ProgramFilesFolder" ShortSourceName="ProgramF" SourceName="Program Files">
          <Directory Id="CommonFilesFolder" ShortSourceName="CommonFi" SourceName="Common Files" />
        </Directory>
        <Directory Id="LocalAppDataFolder" SourceName="Application Data" />
      </Directory>
      <Directory Id="DEFAULTWWW" />
    </Directory>
  </Fragment>
</Wix>